
$text-dark: #111827;
$text-gray: #374151;

// Background colors
$bg-light: #fff9f6;



// Brand colors
$primary: #6a0dad; // Purple
$secondary: #ff9a76;

// Fonts
$font-stack: "Inter", sans-serif;

$section-padding: 5rem 2rem;